<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Barber Shop</title>
  </head>
  <body>
    <h2>Contacts</h2>
    <p>Write us:</p>

    <form>

      <div class="form-group">
        <label>Email address</label>
        <input type="email" name="email" class="form-control" placeholder="name@example.com">
      </div>

      <div class="form-group">
        <label>Example textarea</label>
        <textarea name="message" class="form-control"rows="7"></textarea>
      </div>

    </form>
  </body>
</html>
