<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Barber Shop</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <p>Here you can sign up to our Barb...</p>

    <form action="visit" method="post">

      <div class="form-group">
        <label>Your name</label>
        <input name="username" type="text" class="form-control" placeholder="input yur name">
      </div>

      <div class="form-group">
        <label>Your phone</label>
        <input name="phone" type="text" class="form-control" placeholder="input yur name">
      </div>

      <div class="form-group">
        <label>Date and time of visit</label>
        <input name="date_time" type="text" class="form-control" placeholder="input yur name">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br><br><br>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">First and last name</span>
      </div>
      <input type="text" aria-label="First name" class="form-control">
      <input type="text" aria-label="Last name" class="form-control">
    </div>

  </body>
</html>
